/*@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;color:#fff;text-decoration:none;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
h2{font-size:30px;}
h5,h6{font-size:14px;}


.toolbar{position:fixed;top:0;left:0;right:0;background-color:transparent;line-height:68px;border-top:2px solid #b0120a;}
.menu-button{position:relative;margin:5px;height:36px;width:36px;cursor:pointer;}
.menu-button:before{content:"";position:absolute;top:5px;right:3px;border-bottom:17px double #b0120a;border-top:6px solid #b0120a;width:30px;height:5px;}
.menu-left{float:left;margin-right:1.5em;}
.sidebar{margin:0;padding-top:1em;color:white;background-color:#999;}
.sidebar h6{margin:0 .8em;padding:0;font-weight:300;}
.sidebar li{margin:.5em 0;padding:0 1em;line-height:32px;}
.sidebar li:hover{background-color:#888;}
.sidebar hr{margin:2em auto;border:0;padding:0;width:80%;height:1px;background-color:white;}*/
/*主要样式*/
/*.subNav{cursor:pointer;}
.navContent{display:none;color:#999;}


 #layerTitle.h5 {font-size:20.75em;}*/ 

@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;color:#fff;text-decoration:none;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
h2{font-size:30px;text-align:center;}
h5,h6{font-size:14px;}


.toolbar{position:fixed;top:0;left:0;right:0;background-color:transparent;border-top:2px solid #2279b5;z-index:1000;}
.menu-button{position:relative;margin:5px 0;width:30px;cursor:pointer;padding-left: 5px;}
.menu-button:before{content:"图层控制";position:absolute;top:200px;right:0;left: 0; background: #2279b5;width:30px;color: #fff;font-weight: bold;padding-left: 5px;}
.menu-left{float:left;margin-right:6px;}
.sidebar{margin:0;padding-top:0;color:white;background-color:#2279b5;}
/*.sidebar h2{padding:0;font-size:25px;}*/
.sidebar li{margin:.5em 0;padding:0;line-height:32px;width:100%;}
/*.sidebar li:hover{background-color:#7C7C7C;}*/
.sidebar hr{margin:2em auto;border:0;padding:0;width:80%;height:1px;background-color:white;}
/*主要样式*/
.subNav{cursor:pointer;}
.navContent{display:none;color:#999;}


 #layerTitle.h5 {font-size:20.75em;} 


 .zytc{border-top:1px solid #fff;padding-top:6px;width:180px;margin:0 auto;margin-top:30px;}
.zytc h3{font-size:20px;}
 .menu_yh li{padding:0 2em;}